################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsFormsApplication1/bin/Debug
/WindowsFormsApplication1/obj/Debug
/.vs/WindowsFormsApplication1/v14/.suo
/Debug
/ipch/MFCAPPLICATION1-2311f01c/MFCAPPLICATION1-e9a60727.ipch
/ipch/MFCAPPLICATION1-2311f01c
/Project_DLL/Debug/Project_DLL.tlog/CL.command.1.tlog
/Project_DLL/Debug
/QMPlugin/Debug
/WindowsFormsApplication1/bin/Release
/WindowsFormsApplication2/bin/Debug
/.vs/guagua
obj/
/GuaGua2/x64/Debug
/packages
/x64/Debug
/GuaGua2/.vscode
/GuaGua2/GuaGua2.aps
/GuaGua2/Debug
/GuaGua2/Release
/GuaGua2/x64/Release
/Release
detours_cmake_tpl/out/
.vs/
